<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.cmcc.domain.model.Meeting" alias="Meeting"/>
		<typeAlias type="com.cmcc.domain.model.PeriodMeeting" alias="PeriodMeeting"/>
		<typeAlias type="com.cmcc.domain.model.PeriodQuery" alias="PeriodQuery"/>

	</typeAliases>

</configuration>